<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    <div class="float-left">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <%= image_tag('vn_cross.png', size: '50x50') %> NGVN
      </a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Serve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Sponsor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row sr-header">
      <div class="col-lg-12 mx-auto">
        <%= image_tag('vn_cross.png', size: '100x100') %>
        <h1 class="text-uppercase">
          <strong>North Georgia Vida Nueva</strong>
        </h1>
        <h2 class="text-uppercase">
          A Weekend for Teens
        </h2>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">
          Vida Nueva is an ecumenical, evangelical Christian retreat weekend and movement. It encourages teenagers to commit their lives to Jesus Christ and to live as Christians.
        </p>
        <a class="btn btn-primary btn-xl js-scroll-trigger sr-button" href="#about">Learn More</a>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What is Vida Nueva?</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p>The Vida Nueva weekend contains a series of talks given by a volunteer team of clergy, youth, and adults. The talks follow the basic themes of Christianity in its day-to-day application, and are followed by table discussions. Young men and women from age 15 to 20 may attend.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">New Life</h3>
          <p class="text-muted mb-0">Vida Nueva is Spanish for New Life.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-calendar-alt text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">3 Days</h3>
          <p class="text-muted mb-0">Vida Nueva is a three-day weekend retreat spanning Friday evening through Sunday evening.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-users text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Community</h3>
          <p class="text-muted mb-0">Vida Nueva is a weekend of living in community.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="far fa-4x fa-comments text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Testimonies</h3>
          <p class="text-muted mb-0">Vida Nueva embodies personal witness, but is not a revival meeting.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="far fa-4x fa-handshake text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Participation</h3>
          <p class="text-muted mb-0">Vida Nueva involves group dynamics, but is not group therapy.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-book-open text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Instruction</h3>
          <p class="text-muted mb-0">Vida Nueva employs Christian instruction, but is not a church school.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="far fa-4x fa-newspaper text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Post Activities</h3>
          <p class="text-muted mb-0">Vida Nueva does have follow-up activities, but is not a church substitute.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-church text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Experience Christ</h3>
          <p class="text-muted mb-0">Vida Nueva is an experience with Jesus Christ.</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container sr-history" id="history">
    <div class="row">
      <div class="col">
        <div class="timeline">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide" style="background-image: url(http://shuppsells.com/wp-content/uploads/sites/647/2017/10/0_Monumentnight.jpg)" data-title="TEC Begins" data-year="1965">
                <div class="swiper-slide-content"><span class="timeline-year">October 9, 1965</span>
                  <h4 class="timeline-title">Vida Nueva's History starts with TEC</h4>
                  <p class="timeline-text">Teens Encounter Christ had its origin in the Diocese of Lansing, Michigan. The doors of TEC Lodge, 65 Emmett Street, Battle Creek, Michigan, first opened on October 9, 1965. The TEC movement, as we now know it, is an outgrowth of the Pastoral Institute of Loyola University in Chicago. It was developed and structured by Father Matthew Fedewa and Sister Concetta, R.S.M. The exercise is now conducted on a regular basis in several dioceses in the U.S. The TEC Manual and TEC materials have become the basis of modified, occasional exercises in many other places.</p>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/1.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/1.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/2.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/2.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/3.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/3.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/4.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/4.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/5.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/5.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href=<%= image_path("portfolio/fullsize/6.jpg") %>>
          <img class="img-fluid" src=<%= image_path("portfolio/fullsize/6.jpg") %> alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="far fa-envelope fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
